.main{
    background-color: white;
    transition: background-color 0.5s ease;
    height:100%;
}
.menu_bar{
    width:100%;
    height:6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxs{
    display: flex;
}
#visul2{
   margin: auto;
    margin-left:39rem;
}
#visul1{
    margin: auto;
    margin-left:2rem;
}

.user_code{
    height:450px;
    width:40%;
    border: 2px solid black;
    margin:0 2rem 0 2rem;
    overflow: scroll;
}
.visualization{
    height:450px;
    width:45%;
    border: 2px solid black;
    margin:0 2rem 0 2rem;
    background-color: #fff;
}
#enter_code{
    height:800px;
    width:100%;
}
.btn_1{
    margin-left:12rem;
}
.btn{
    margin-top:1rem;
}
#darkMode{
    height:3rem;
    width: 3rem;
    margin-left:40rem;
}
.btn {
    border-radius: 25px;
    transition: all 0.3s ease;
}
  
.btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.visualization {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}
.main {
    background-image: url('https://c8.alamy.com/comp/2FMN88W/big-data-visualization-background-modern-futuristic-virtual-abstract-background-science-network-pattern-connecting-lines-and-dots-global-network-2FMN88W.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}


.visualization {
    height: 450px;
    width: 45%;
    border: 2px solid black;
    margin: 0 2rem 0 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.block {
    width: 40px;
    height: 50px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.highlight {
    background-color: red !important;
}

#index {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    font-weight: bold;
}



